.btn__main{
    font-size: 1.4rem;
    font-weight: bold;
    padding: .7rem 1.25rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    
}

.btn__active--black{
    background-color: black;
    color: white;
}

.color__grey{
    background-color: #e7e7e7;
    color: black;
    display: flex;
    align-items: center;
}