.down-arrow-btn {
  background-color: white;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  width: max-content;
  cursor: pointer;
}

.color__grey--down {
  background-color: #e7e7e7;
  border-left: 1px solid #b9b9b9;
}
