.food__option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.food__option:hover svg{
    transform: scale(1.3) rotate(25deg);;
    /* transform: rotate(45deg); */
}
.food__option svg{
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 2rem;
    transition: all .3s;
}
.food__option--name{
    width: max-content;
}