.feedback{
    border: 1px solid  rgb(231, 231, 231);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  align-items: flex-start;
    justify-content: center;
}

.feedback__details{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: max-content;
}
.feedback__details svg{
    height: 2rem;
    width: 2rem;
    fill: #ff3008;
    transform: translateY(5px);
}
.feedback__device{
    color: rgb(126, 126, 126);
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
}
.feedback__date{
    color: rgb(126, 126, 126);
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    transform: translateY(2px);
}