.see-all-reviews{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 17.43px;
    position: absolute;
    top: 0;
    right: 0;
}

.review__direction{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}