.cart__checkout {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0.5px;
  right: 0;
  z-index: 2;
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-left: 1px solid rgb(231, 231, 231);
  border-right: 1px solid rgb(231, 231, 231);
  margin-top: 5.125rem;
  max-width: 32.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  animation: open-cart 500ms ease-out;
}

@keyframes open-cart {
  0% {
    right: -32.5rem;
    opacity: 0;
  }
  75% {
  
    opacity: 0.5;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.cart__checkout h2 {
  font-size: 18px;
}
.cart__checkout button {
  width: 95%;
  padding: 1.125rem;
  font-size: 15px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
}

.cart__checkout--text {
  margin: 0;
  font-size: 12px;
  color: rgb(126, 126, 126);
  margin-bottom: 0.5rem;
}

.cart__checkout--message {
  margin: 0;
  font-size: 15px;
  color: black;
  line-height: 1.75;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
}

.cart__checkout--header--text {
  margin-bottom: 2rem;
}
