.stars{
    display: flex;
    align-items: center;
    margin-top: -1rem;
    
}

.star__container{
    display: flex;
    margin-right: 1rem;
}

.rating{
    font-size: 1.8rem;
    margin-right: .5rem;
}

.rating__figures{
    color: rgb(126, 126, 126);
    font-weight: 500;
}