.app {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.main{
    max-width: 1280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}


.dummy{
    height: 100vh;
    background-color: yellowgreen;
}
