@import url('//db.onlinewebfonts.com/c/07bc241768c969f6b6a27a7bf0dfb490?family=TT+Norms+Regular');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'TT Norms Regular', 'sans-serif';
  font-size: 62.5%;
  color: black;
}

